# Instructions

You're going to practice working in Pandas. 


You'll walk through instantiating a `DataFrame`, reading data into it, looking at and examining that data, and then playing with it. 


A dataset on the [quality of red wines](https://archive.ics.uci.edu/ml/datasets/wine+quality) is used for this purpose.
It is lokated in the `data` folder within this directory. It's called `winequality-red.csv`. 


Typically, we use Jupyter notebooks like this for a very specific set of things - presentations and EDA. 


Today, as we'll be playing around with `Pandas`, much of what we'll be doing is considered EDA. Therefore, by using a notebook, we'll get a tighter feedback loop with our work than we would trying to write a script. But, in general, **we do not use Jupyter notebooks for development**. 

Below, we've put a set of questions and then a cell for you to work on answers. However, feel free to add additional cells if you'd like. Often it will make sense to use more than one cell for your answers. 

# Assignment Questions 

### Part 1 - The Basics of DataFrames

Let's start off by following the general workflow that we use when moving data into a DataFrame: 

    * Importing Pandas
    * Reading data into the DataFrame
    * Getting a general sense of the data

So, in terms of what you should do for this part...

1. Import pandas
2. Read the wine data into a DataFrame. 
3. Use the `attributes` and `methods` available on DataFrames to answer the following questions: 
    * How many rows and columns are in the DataFrame?
    * What data type is in each column?
    * Are all of the variables continuous, or are any categorical?
    * How many non-null values are in each column?
    * What are the min, mean, max, median for all numeric columns?

In [1]:
# 1. Import pandas
import pandas as pd

In [2]:
# 2. Read the wine data into a DataFrame.
df = pd.read_csv("data/winequality-white.csv", sep=";")
df.head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.001,3.0,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.994,3.3,0.49,9.5,6

In [3]:
# 3a. How many rows and columns are in the DataFrame?
df.shape

(4898, 12)

In [4]:
# 3b. What data type is in each column?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [5]:
# 3c. Are all of the variables continuous, or are any categorical?
df.nunique()

fixed acidity            68
volatile acidity        125
citric acid              87
residual sugar          310
chlorides               160
free sulfur dioxide     132
total sulfur dioxide    251
density                 890
pH                      103
sulphates                79
alcohol                 103
quality                   7
dtype: int64

Looking at the data types of our columns with `df.info()` shows that most of the columns are of type `float64` and are therefore most likely continous. Only the column `quality` is of type `int64` and is therefore probably a categorical feature. This assumption is supported by the number of unique entries each column can have.

In [6]:
# 3d. How many non-null values are in each column?
df.notnull().sum()

fixed acidity           4898
volatile acidity        4898
citric acid             4898
residual sugar          4898
chlorides               4898
free sulfur dioxide     4898
total sulfur dioxide    4898
density                 4898
pH                      4898
sulphates               4898
alcohol                 4898
quality                 4898
dtype: int64

In [7]:
# 3e. What are the min, mean, max, median for all numeric columns?
df.describe().loc[['min', 'mean', '50%', 'max'], :'alcohol']

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000

### Part 2 - Practice with Grabbing Data

Let's now get some practice with grabbing certain parts of the data. If you'd like some extra practice, try answering each of the questions in more than one way (because remember, we can often grab our data in a couple of different ways). 

1. Grab the first 10 rows of the `chlorides` column. 
2. Grab the last 10 rows of the `chlorides` column. 
3. Grab indices 264-282 of the `chlorides` **and** `density` columns. 
4. Grab all rows where the `chlorides` value is less than 0.10. 
5. Now grab all the rows where the `chlorides` value is greater than the column's mean (try **not** to use a hard-coded value for the mean, but instead a method).
6. Grab all those rows where the `pH` is greater than 3.0 and less than 3.5. 
7. Further filter the results from 6 to grab only those rows that have a `residual sugar` less than 2.0.

In [8]:
# 1. Grab the first 10 rows of the chlorides column.

#df.chlorides.iloc[:10]
#df.iloc[:10, 4]
#df.loc[:9, 'chlorides']
#df.chlorides.loc[:9]
#df.chlorides.head(10)
df.chlorides[:10]

0    0.045
1    0.049
2    0.050
3    0.058
4    0.058
5    0.050
6    0.045
7    0.045
8    0.049
9    0.044
Name: chlorides, dtype: float64

In [9]:
# 2. Grab the last 10 rows of the chlorides column.

#df.chlorides.iloc[-10:]
#df.iloc[-10: , 4]
#df.chlorides.loc[4888:]
#df.loc[4888: , 'chlorides']
#df.chlorides.tail(10)
df.chlorides[-10:]

4888    0.052
4889    0.030
4890    0.036
4891    0.038
4892    0.032
4893    0.039
4894    0.047
4895    0.041
4896    0.022
4897    0.020
Name: chlorides, dtype: float64

In [10]:
# 3. Grab indices 264-282 of the chlorides and density columns.

#df.loc[264:282, ['chlorides', 'density']]
#df[['chlorides', 'density']].loc[264:282]
#df.iloc[264:283, [4, 7]]
#df[['chlorides', 'density']].iloc[264:283]
df[['chlorides', 'density']][264:283]

     chlorides  density
264      0.038   0.9912
265      0.043   0.9996
266      0.053   0.9965
267      0.043   0.9944
268      0.044   0.9945
269      0.045   0.9944
270      0.053   0.9965
271      0.044   0.9944
272      0.051   0.9972
273      0.057   0.9949
274      0.046   0.9966
275      0.046   0.9954
276      0.044   0.9954
277      0.042   0.9915
278      0.044   0.9919
279      0.036   0.9916
280      0.034   0.9900
281      0.039   0.9909
282      0.047   0.9938

In [11]:
# 4. Grab all rows where the chlorides value is less than 0.10.

#df.query('chlorides < 0.1')
df[df.chlorides < 0.10]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [12]:
# 5. Now grab all the rows where the chlorides value is greater than the column's mean 
#    (try not to use a hard-coded value for the mean, but instead a method).

#df.query('chlorides > chlorides.mean()')
df[df.chlorides > df.chlorides.mean()]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.500000,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.100000,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.900000,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.900000,6
5,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.100000,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4880,6.6,0.34,0.40,8.1,0.046,68.0,170.0,0.99494,3.15,0.50,9.533333,6
4884,6.5,0.33,0.38,8.3,0.048,68.0,174.0,0.99492,3.14,0.50,9.600000,5
4885,6.6,0.34,0.40,8.1,0.046,68.0,170.0,0.99494,3.15,0.50,9.550000,6
4888,6.8,0.22,0.36,1.2,0.052,38.0,127.0,0.99330,3.04,0.54,9.200000,5
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.600000,5

In [13]:
# 6. Grab all those rows where the pH is greater than 3.0 and less than 3.5.

#df.query('pH > 3 and pH < 3.5')
#df.query('pH > 3 & pH < 3.5')
#df.query('3 < pH < 3.5')
df[(df.pH > 3) & (df.pH < 3.5)]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
5,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4892,6.5,0.23,0.38,1.3,0.032,29.0,112.0,0.99298,3.29,0.54,9.7,5
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [14]:
# 7. Further filter the results from 6 to grab only those rows that have a residual sugar less than 2.0.

df[(df.pH > 3) & (df.pH < 3.5) & (df['residual sugar'] < 2)]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
8,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
9,8.1,0.22,0.43,1.5,0.044,28.0,129.0,0.99380,3.22,0.45,11.0,6
12,7.9,0.18,0.37,1.2,0.040,16.0,75.0,0.99200,3.18,0.63,10.8,5
15,6.6,0.17,0.38,1.5,0.032,28.0,112.0,0.99140,3.25,0.55,11.4,7
...,...,...,...,...,...,...,...,...,...,...,...,...
4891,5.7,0.21,0.32,0.9,0.038,38.0,121.0,0.99074,3.24,0.46,10.6,6
4892,6.5,0.23,0.38,1.3,0.032,29.0,112.0,0.99298,3.29,0.54,9.7,5
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

### Part 3 - More Practice

Let's move on to some more complicated things. Use your knowledge of `groupby`s, `sorting` to answer the following. 

1. Get the average amount of `chlorides` for each `quality` value. 
2. For observations with a `pH` greater than 3.0 and less than 4.0, find the average `alcohol` value by `pH`. 
3. For observations with an `alcohol` value between 9.25 and 9.5, find the highest amount of `residual sugar`. 
4. Create a new column, called `total_acidity`, that is the sum of `fixed acidity` and `volatile acidity`. 
5. Find the average `total_acidity` for each of the `quality` values. 
6. Find the top 5 `density` values. 
7. Find the 10 lowest `sulphates` values.

In [15]:
# 1. Get the average amount of chlorides for each quality value.
df.groupby('quality').chlorides.mean()

quality
3    0.054300
4    0.050098
5    0.051546
6    0.045217
7    0.038191
8    0.038314
9    0.027400
Name: chlorides, dtype: float64

In [16]:
# 2. For observations with a pH greater than 3.0 and less than 4.0, find the average alcohol value by pH.
df.query('3 < pH < 4').groupby('pH').alcohol.mean()

pH
3.01    10.469388
3.02    10.369118
3.03    10.569231
3.04    10.472337
3.05    10.369288
          ...
3.77    10.050000
3.79    10.200000
3.80    10.500000
3.81    10.300000
3.82    10.500000
Name: alcohol, Length: 79, dtype: float64

In [17]:
# 3. For observations with an alcohol value between 9.25 and 9.5, 
#    find the highest amount of residual sugar.
df.query('9.25 < alcohol < 9.5')['residual sugar'].max()

19.95

In [18]:
# 4. Create a new column, called total_acidity, that is the sum of fixed acidity and volatile acidity.

# If we want to use .eval() we need to change the columns names 
#df.rename(columns={'fixed acidity': 'fixed_acidity', 'volatile acidity': 'volatile_acidity'}, inplace=True)
#df.eval('total_acidity = fixed_acidity + volatile_acidity', inplace=True)

# Without renaming the columns we can use this line
df['total_acidity'] = df['fixed acidity'] + df['volatile acidity']
df.head(2)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,total_acidity
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.001,3.0,0.45,8.8,6,7.27
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.994,3.3,0.49,9.5,6,6.60

In [19]:
# 5. Find the average total_acidity for each of the quality values.
df.groupby('quality').total_acidity.mean()

quality
3    7.933250
4    7.510675
5    7.235985
6    7.098235
7    6.997483
8    6.934543
9    7.718000
Name: total_acidity, dtype: float64

In [20]:
# 6. Find the top 5 density values.
df.density.sort_values(ascending=False)[:5]

2781    1.03898
1663    1.01030
1653    1.01030
3623    1.00295
3619    1.00295
Name: density, dtype: float64

In [21]:
# 7. Find the 10 lowest sulphates values.
df.sulphates.sort_values()[:10]

3244    0.22
3284    0.23
1210    0.25
1283    0.25
3528    0.25
1126    0.25
4737    0.26
3476    0.26
2055    0.26
3484    0.26
Name: sulphates, dtype: float64